.body {
  background-color: #fafafa;
}

.content {
  margin: auto;
}

h2 {
  text-align: center;
}

.navbar li .nav-link,
.logout {
  color: black;
  font-size: 17px;
}

.navbar li a:hover,
.logout:hover {
  color: #fcc727;
  font-size: 17px;
  cursor: "pointer";
}

.create-page h5 {
  font-size: 20px;
}

.project-page h5 {
  font-weight: 400;
  margin-top: 15px;
}

.project-page button {
  margin-top: 15px;
}

.meta-tagging-object th {
  font-weight: 500;
}

.annotate h4 {
  margin-top: 15px;
  font-weight: 500px;
  font-size: 18px;
}

.annotate .text {
  text-align: left;
  margin-left: 5px;
}

.card.project-preview h5 {
  font-weight: 400;
}

.hide {
  display: none;
}
